<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);

        }

        .alert {
            color: red;
            font-size: 10px;
            float: left;
        }
    </style>
</head>

<body>
    <div class="container vh-100">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="card my-auto shadow">
                <img src="https://cdn-icons-png.flaticon.com/512/93/93634.png" style="float: left;" width="30"
                    height="30" alt="Back Button  free icon" title="Back Button free icon">
                <div class="card-body p-5">
                    <div class="text-center">
                        <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>
                    </div>
                    <div class="text-center">
                        <h2>Forgot Password</h2>
                    </div>
                    <p style="color: lightslategray;">Please enter your registered email.</p>
                    <form [formGroup]="signupForm" (ngSubmit)="SignUp()">
                        <div class="form-group">
                            <input type="email" id="email" formControlName="email" placeholder="Email Address"
                                class="form-control" name="" />
                            <div *ngIf="f['email'].errors?.['email']">
                                <p class="alert">*Please enter valid email</p>
                            </div>
                        </div>
                        <input type="submit" [disabled]="disabled1" class="btn btn-primary w-100"
                            value="Make a new password" name="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>