
<div class="container-fluid p-0 m-0">
	<div class="row no-gutters" >
	<div class="col-12">
	<div class="position-absolute p-5 bg-white m-5 text-center shadow-lg map-box2">
	<h3 class="text-muted">040 67409242</h3>
	<div class=" mt-4">
	  <address>
		<strong class="text-muted">MTX, Inc.</strong><br>
		Octave, Unit 2A-2, 9, Knowledge City Rd, HITEC City.<br>
		Hyderabad, Telangana 500081<br>
		<abbr title="Phone">Ph.No :</abbr> 040 67409242 
	  </address>
	
	  <address class="mb-5">
		<strong class="text-muted">Email</strong><br>
		<a href="mailto:#" class="text-secondary">mtx.india@mtxb2b.com</a>
	  </address>
	  <a href="mailto:maddipatlamukta5@gmail.com" class="btn btn-outline-danger btn-lg w-100 d-block">Send Message</a>
	</div>
	</div>
	<div class="embed-responsive embed-responsive-16by9 " style="height:700px !important;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121837.63794016458!2d78.3755616165641!3d17.391323189181804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93850927025b%3A0x3dfe1d6dac534512!2sMTX%20Group%20Inc%20-%20India!5e0!3m2!1sen!2sin!4v1637349579249!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>
	</div>
	</div>
	</div>
	
	