<head>
    <style>
        h1,
        h2,
        .error-details,
        .error-actions {
            text-align: center;
        }

        .error-template {
            align: center;
        }
    </style>
</head>
<div class="container pt-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <img src="https://c.tenor.com/IHdlTRsmcS4AAAAC/404.gif" width="1200" height="600"
                    alt="404 GIF - 404 GIFs" style="max-width: 1100px;">
                <div class="error-details">
                    <h2>Sorry, an error has occured, Requested page not found!</h2>
                </div>
                <br>
                <div class="error-actions">
                    <a routerLink="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a><a routerLink="/" class="btn btn-default btn-lg"><span
                            class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>