<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body{
            background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    
        }
        .alert{
            color: red;
            font-size: 10px;
            float: left;
        }
    </style>
    </head>
    <body>
    <div class="container vh-100">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="card my-auto shadow">
                <div class="card-body p-5">
                    <div class="text-center">
                        <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>                
                    </div>
                    <div class="text-center">
                        <h2>Reset Password</h2>
                    </div>
                    <p style="color: lightslategray;">Please enter the OTP you have just recieved.<br> Update your password.</p>
                    <form [formGroup]="signupForm" (ngSubmit)="SignUp()">
                        <div class="form-group">
                            <div class="mb-3">
                            <input type="text" formControlName="otp" placeholder="Otp" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input type="email" id="email" formControlName="email" placeholder="Email Address" class="form-control" name="" />
                            <div *ngIf="f['email'].errors?.['email']">
                                <p class="alert">*Please enter Valid name</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="password" placeholder="New Password" class="form-control">
                        </div>
                        </div>
                        <input type="submit" class="btn btn-primary w-100" value="Update Password" name="">
                    </form>
                </div>

            </div>
        </div>
    </div>
    </body>